---
---
.page-header {
  background-color: transparent;
  background-image: url({{ "/assets/images/header_ocean.jpg" | relative_url }});
  background-size: cover;
  background-position: center;
}

.btn {
  background-color: rgba(28, 66, 78, 0.9);
}
