---
---
.page-header {
  background-image: url(/assets/images/header_ocean.jpg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
<<<<<<< HEAD

.btn {
  background-color: rgba(55, 130, 153, 0.9);
}
=======
>>>>>>> parent of f89d330... change button background color
